@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&family=Raleway:wght@300;400;700;800&display=swap");
/*----------------VARIABLES------------*/
/*-------FONTS---------*/
/*-------COLORS-------*/
/*----------------GLOBAL STYLES---------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

h1, h2, h3, span {
  font-family: "Raleway", sans-serif;
}

p, li, button {
  font-family: "Open Sans", sans-serif;
}

/*--------------MIXINS-------------------*/
/*--------------NAV STYLES--------------*/
.nav {
  z-index: 10000;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1em;
  background-color: #FFF;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2901960784);
}
.nav__h3 {
  display: inline-block;
  color: #08A6E4;
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  font-weight: 300;
}
.nav__img {
  position: absolute;
  display: inline-block;
  right: 1em;
  top: 1.7em;
}
.nav__ul {
  display: none;
  list-style: none;
  margin-top: 1em;
}
.nav__li {
  color: #A5A5A5;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 3.28px;
  text-transform: uppercase;
  line-height: 30px;
}

/*-------------HERO STYLES---------*/
.hero {
  margin: 10em 0 5em 0;
  text-align: center;
}
.hero__h1 {
  color: #000;
  font-size: 35px;
  font-weight: 400;
}
.hero__p {
  margin: 1em auto;
  max-width: 300px;
  color: #000;
  font-size: 16px;
  font-weight: 400;
}
.hero__button {
  width: 308px;
  height: 57px;
  border: none;
  border-radius: 40px;
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  background-color: #08A6E4;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.2901960784);
}
.hero__img-container {
  width: 100%;
  min-height: 267px;
  overflow-x: hidden;
  position: relative;
}
.hero__img {
  max-width: 1775px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.hero__h2 {
  margin: 1em auto;
  font-size: 36px;
  font-weight: 400;
  max-width: 383px;
}
.hero .icon {
  margin-top: 1em;
  position: relative;
}
.hero .icon__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-10%, -50%);
}
.hero__span {
  margin-top: 0.5em;
  display: block;
  color: #000;
  font-size: 20px;
  font-weight: 800;
}
.hero__span--light {
  max-width: 120px;
  display: block;
  margin: 0.5rem auto;
  color: #A5A5A5;
  font-family: Raleway;
  font-size: 17px;
  font-weight: 400;
}

/*-----------BENEFITS STYLES--------*/
.benefits {
  background-color: #F7F7F7;
  padding: 4em 2em;
}
.benefits .card {
  display: block;
  padding: 2em 1em;
  border-radius: 5px;
  border: 1px solid #E8E9ED;
  background-color: #FFF;
  max-width: 315px;
  margin: 2em auto;
  position: relative;
  margin: 2em auto;
}
.benefits .card__h3 {
  max-width: 225px;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 1em;
}
.benefits .card__p {
  font-size: 14px;
  font-weight: 400;
}
.benefits .card .card__icon {
  margin-bottom: 2em;
}
.benefits .card .card__icon .card__img--bg {
  position: absolute;
  width: 127px;
  top: 0%;
  left: 50%;
  z-index: 0;
}
.benefits .card .card__icon .card__img {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 192px;
  z-index: 1;
}
.benefits .card .card__icon .card__img--bgAlt {
  display: block;
  margin: 0 auto;
  width: 131px;
}
.benefits .card .card__icon .card__imgAlt {
  width: 175px;
  position: absolute;
  top: 10%;
  left: 30%;
}
.benefits .card .card__icon .card__img--bgFull {
  max-width: 315px;
}
.benefits .card--Alt {
  display: block;
  padding: 2em 1em;
  border-radius: 5px;
  border: 1px solid #E8E9ED;
  background-color: #FFF;
  max-width: 315px;
  margin: 2em auto;
  position: relative;
  margin: 2em auto 0 auto;
}
.benefits .card--Alt__h3 {
  max-width: 225px;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 1em;
}
.benefits .card--Alt__p {
  font-size: 14px;
  font-weight: 400;
}
.benefits .card__icon {
  max-width: 315px;
  display: block;
  margin: -10px auto;
  position: relative;
}
.benefits .card__icon .card__img--bgFull {
  position: relative;
  z-index: 2;
  width: 100%;
  max-height: 195px;
  z-index: 0;
}
.benefits .card__icon .card__imgFull {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}/*# sourceMappingURL=style.css.map */