@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&family=Raleway:wght@300;400;700;800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  min-width: 320px;
}

h1, h2, h3, span {
  font-family: "Raleway", sans-serif;
}

p, a, button, label, input {
  font-family: "Open Sans", sans-serif;
}

.modal {
  margin: auto;
  padding: 2.5em;
  border-radius: 10px;
  border: 1px solid rgb(8, 166, 228);
  text-align: center;
}
.modal__h2 {
  font-size: 3rem;
  font-weight: 300;
}
.modal__button--close {
  cursor: pointer;
  position: absolute;
  font-size: 1.2rem;
  top: 0.7em;
  right: 0.7em;
  background-color: transparent;
  border: none;
  color: rgb(8, 166, 228);
}
.modal__input {
  margin-top: 2em;
  border: none;
  border-bottom: 1px solid #000;
  width: 100%;
  text-align: center;
  padding-bottom: 0;
}
.modal__input:focus {
  outline: none;
  border-bottom: 2px solid rgb(8, 166, 228);
}
.modal__input::placeholder {
  text-align: center;
}
.modal__p {
  visibility: hidden;
  margin-top: 0.5em;
  color: #EB476E;
  font-size: 1.2rem;
  height: 4em;
}
.modal .correct {
  color: rgb(8, 166, 228);
}
.modal__button {
  cursor: pointer;
  width: 308px;
  height: 57px;
  border: none;
  border-radius: 40px;
  color: #FFF;
  font-size: 1.6rem;
  font-weight: 700;
  background-color: rgb(8, 166, 228);
  width: 50%;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.5137254902);
}

.nav {
  z-index: 10000;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1em;
  background-color: #FFF;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2901960784);
}
.nav__scrollBar {
  z-index: 10001;
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  width: 0%;
  background-color: rgb(8, 166, 228);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2901960784);
}
.nav__h3 {
  display: inline-block;
  color: rgb(8, 166, 228);
  font-family: "Raleway", sans-serif;
  font-size: 3.2rem;
  font-weight: 300;
}
.nav__img {
  position: absolute;
  display: inline-block;
  right: 1em;
  top: 1.7em;
}
.nav__ul {
  display: none;
  list-style: none;
  margin-top: 1em;
}
.nav__li {
  display: block;
  color: #A5A5A5;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 3.28px;
  text-transform: uppercase;
  line-height: 30px;
}
.nav a {
  text-decoration: none;
}
.nav__li:hover {
  cursor: pointer;
  color: #000;
  font-weight: 700;
}

@media only screen and (min-width: 1000px) {
  .nav {
    padding: 0 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav__img {
    display: none;
  }
  .nav__ul {
    margin-top: 0;
    display: flex;
    gap: 2em;
  }
  .nav__li {
    display: inline-block;
    border: 2px solid transparent;
    padding: 1.5em 0;
  }
  .nav__li:hover {
    cursor: pointer;
    color: #000;
    font-weight: 700;
    height: 100%;
    border-bottom: 2px solid rgb(8, 166, 228);
  }
}
.backToTop {
  z-index: 1000000;
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 4em;
  right: 0.5em;
  font-size: 3rem;
  color: rgb(8, 166, 228);
  filter: drop-shadow(0px 1px 2px #000);
}

.hero {
  margin: 10em 0 5em 0;
  text-align: center;
}
.hero__h1 {
  color: #000;
  font-size: 3.5rem;
  font-weight: 400;
}
.hero__p {
  margin: 1em auto;
  max-width: 300px;
  color: #000;
  font-size: 1.6rem;
  font-weight: 400;
}
.hero__button {
  cursor: pointer;
  width: 308px;
  height: 57px;
  border: none;
  border-radius: 40px;
  color: #FFF;
  font-size: 1.6rem;
  font-weight: 700;
  background-color: rgb(8, 166, 228);
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.2901960784);
}
.hero__img-container {
  width: 100%;
  min-height: 267px;
  overflow-x: hidden;
  position: relative;
}
.hero__img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.hero__h2 {
  margin: 1em auto;
  font-size: 3.6rem;
  font-weight: 400;
  max-width: 383px;
}
.hero .icon {
  margin-top: 1em;
  position: relative;
}
.hero .icon__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-10%, -50%);
}
.hero__span {
  margin-top: 0.5em;
  display: block;
  color: #000;
  font-size: 2rem;
  font-weight: 800;
}
.hero__span--light {
  max-width: 120px;
  display: block;
  margin: 0.5rem auto;
  color: #A5A5A5;
  font-family: Raleway;
  font-size: 1.7rem;
  font-weight: 400;
}

@media only screen and (min-width: 1000px) {
  .hero__img {
    width: 100%;
    max-width: 1735px;
    position: static;
    left: auto;
    transform: none;
  }
  .hero__h2 {
    max-width: 100%;
  }
  .hero__flex {
    display: flex;
    justify-content: center;
    gap: 15em;
  }
}
.benefits {
  background-color: #F7F7F7;
  padding: 4em 1em;
}
.benefits .card {
  display: block;
  padding: 2em 2em;
  border-radius: 5px;
  border: 1px solid #E8E9ED;
  background-color: #FFF;
  max-width: 315px;
  margin: 2em auto;
  position: relative;
  margin: 2em auto;
}
.benefits .card__h3 {
  max-width: 225px;
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 1em;
}
.benefits .card__p {
  font-size: 1.4rem;
  font-weight: 400;
}
.benefits .card__icon, .benefits .card__icon--alt {
  margin-bottom: 2em;
  position: relative;
}
.benefits .card__icon .card__img--bg, .benefits .card__icon--alt .card__img--bg {
  position: absolute;
  width: 127px;
  top: -25%;
  left: 50%;
  z-index: 0;
}
.benefits .card__icon .card__img, .benefits .card__icon--alt .card__img {
  position: relative;
  display: block;
  margin: 0 auto;
  max-width: 192px;
  z-index: 1;
}
.benefits .card__icon .card__img--bgAlt, .benefits .card__icon--alt .card__img--bgAlt {
  display: block;
  margin: 0 auto;
  width: 131px;
}
.benefits .card__icon .card__imgAlt, .benefits .card__icon--alt .card__imgAlt {
  position: absolute;
  width: 175px;
  top: 10%;
  left: 30%;
}
.benefits .card--Alt {
  display: block;
  padding: 2em 2em;
  border-radius: 5px;
  border: 1px solid #E8E9ED;
  background-color: #FFF;
  max-width: 315px;
  margin: 2em auto;
  position: relative;
  margin: 2em auto 0 auto;
}
.benefits .card--Alt__h3 {
  max-width: 225px;
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 1em;
}
.benefits .card--Alt__p {
  font-size: 1.4rem;
  font-weight: 400;
}
.benefits .card__flex .card__icon {
  margin: 0 auto;
  max-width: 315px;
  position: relative;
}
.benefits .card__flex .card__icon .card__img--bgFull {
  position: relative;
  z-index: 2;
  width: 100%;
  max-height: 195px;
  z-index: 0;
  border-radius: 5px;
  border: 1px solid #E8E9ED;
  background: #55DFB4;
}
.benefits .card__flex .card__icon .card__imgFull {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

@media only screen and (min-width: 1000px) {
  .benefits .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding-top: 3em;
    min-height: 370px;
    max-width: 1124px;
  }
  .benefits .card__icon {
    order: 2;
    width: 100%;
    max-width: 60%;
  }
  .benefits .card__icon .card__img--bg {
    width: 225px;
  }
  .benefits .card__icon .card__img {
    max-width: 386px;
  }
  .benefits .card__text {
    width: 40%;
    order: 1;
  }
  .benefits .card__text .text__line {
    width: 70%;
    margin-top: 2em;
    border: 2px solid #EB476E;
  }
  .benefits .card__icon--alt {
    width: 100%;
    width: 50%;
  }
  .benefits .card__icon--alt .card__img--bgAlt {
    border-radius: 320px;
    background-color: rgb(8, 166, 228);
    width: 328px;
  }
  .benefits .card__icon--alt .card__imgAlt {
    position: absolute;
    width: 400px;
    top: 10%;
    left: 10%;
    transform: translateX(10%);
  }
  .benefits .card__text--alt {
    width: 40%;
    align-self: center;
    order: 1;
  }
  .benefits .card__text--alt .text__line {
    width: 70%;
    margin-top: 2em;
    border: 2px solid rgb(8, 166, 228);
  }
  .benefits .card__flex {
    display: flex;
    justify-content: space-between;
    width: 90%;
    gap: 3em;
    max-width: 1124px;
    margin: 2em auto;
  }
  .benefits .card__flex .card--Alt {
    display: inline-block;
    margin: 0;
    padding-top: 3em;
    min-height: 370px;
    max-width: 1124px;
  }
  .benefits .card__flex .card--Alt .text__line {
    width: 70%;
    margin-top: 2em;
    border: 2px solid #55DFB4;
  }
  .benefits .card__flex .card__icon {
    min-width: 440px;
    margin: 0;
  }
  .benefits .card__flex .card__icon .card__img--bgFull {
    min-height: 100%;
  }
  .benefits .card__flex .card__icon .card__imgFull {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}
.pricing {
  background-color: #FFF;
  padding: 4em 1em;
}
.pricing__select {
  display: block;
  margin-left: auto;
}
.pricing__h2 {
  text-align: center;
  font-size: 3.6rem;
  font-weight: 400;
  margin-bottom: 1em;
}
.pricing .card {
  margin: 0 auto 5em auto;
  max-width: 290px;
  padding: 2em 1em 3em 1em;
  border-radius: 18px;
  position: relative;
  transition: all 0.2s ease-in-out;
  border: 1px solid #EB476E;
}
.pricing .card .card__column--left {
  width: 40%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
.pricing .card .card__column--left .card__h3 {
  color: #13253B;
  font-size: 1.5rem;
  font-weight: 700;
}
.pricing .card .card__column--left .card__p {
  color: #EB476E;
  font-size: 4.6rem;
  font-weight: 300;
}
.pricing .card .card__column--left .card__span {
  color: #13253B;
  font-size: 1.2rem;
  font-weight: 700;
}
.pricing .card .card__column--right {
  display: inline-block;
  vertical-align: middle;
  width: auto;
}
.pricing .card .card__column--right .card__item {
  margin-bottom: 1rem;
}
.pricing .card .card__column--right .card__item .card__p {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 400;
  margin-left: 0.5em;
}
.pricing .card .card__column--right .card__checkbox--red {
  display: inline-block;
  width: 11px;
  position: relative;
}
.pricing .card .card__column--right .card__checkbox--red .card__border--red {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-35%, -85%);
}
.pricing .card .card__column--right .card__checkbox--red .card__check--red {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-25%, -110%);
}
.pricing .card .card__button {
  cursor: pointer;
  width: 308px;
  height: 57px;
  border: none;
  border-radius: 40px;
  color: #FFF;
  font-size: 1.6rem;
  font-weight: 700;
  position: absolute;
  width: 150px;
  left: 50%;
  bottom: -15%;
  transform: translateX(-50%);
}
.pricing .card .card__button {
  background-color: #EB476E;
  width: 150px;
}
.pricing .card--blue {
  margin: 0 auto 5em auto;
  max-width: 290px;
  padding: 2em 1em 3em 1em;
  border-radius: 18px;
  position: relative;
  transition: all 0.2s ease-in-out;
  border: 1px solid rgb(8, 166, 228);
}
.pricing .card--blue .card__column--left {
  width: 40%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
.pricing .card--blue .card__column--left .card__h3 {
  color: #13253B;
  font-size: 1.5rem;
  font-weight: 700;
}
.pricing .card--blue .card__column--left .card__p {
  color: #EB476E;
  font-size: 4.6rem;
  font-weight: 300;
}
.pricing .card--blue .card__column--left .card__span {
  color: #13253B;
  font-size: 1.2rem;
  font-weight: 700;
}
.pricing .card--blue .card__column--right {
  display: inline-block;
  vertical-align: middle;
  width: auto;
}
.pricing .card--blue .card__column--right .card__item {
  margin-bottom: 1rem;
}
.pricing .card--blue .card__column--right .card__item .card__p {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 400;
  margin-left: 0.5em;
}
.pricing .card--blue .card__column--right .card__checkbox--red {
  display: inline-block;
  width: 11px;
  position: relative;
}
.pricing .card--blue .card__column--right .card__checkbox--red .card__border--red {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-35%, -85%);
}
.pricing .card--blue .card__column--right .card__checkbox--red .card__check--red {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-25%, -110%);
}
.pricing .card--blue .card__button {
  cursor: pointer;
  width: 308px;
  height: 57px;
  border: none;
  border-radius: 40px;
  color: #FFF;
  font-size: 1.6rem;
  font-weight: 700;
  position: absolute;
  width: 150px;
  left: 50%;
  bottom: -15%;
  transform: translateX(-50%);
}
.pricing .card--blue .card__column--left .card__p {
  color: rgb(8, 166, 228);
}
.pricing .card--blue .card__button {
  width: 150px;
  background-color: rgb(8, 166, 228);
}
.pricing .card:hover, .pricing .card--blue:hover, .pricing .card--green:hover {
  transform: translate3D(0, -1px, 0) scale(1.1);
}
.pricing .card:hover {
  box-shadow: 5px 10px 27px 0px #EB476E;
}
.pricing .card--blue:hover {
  box-shadow: 5px 10px 27px 0px rgb(8, 166, 228);
}
.pricing .card--green:hover {
  box-shadow: 5px 10px 27px 0px #55DFB4;
}
.pricing .card--green {
  margin: 0 auto 5em auto;
  max-width: 290px;
  padding: 2em 1em 3em 1em;
  border-radius: 18px;
  position: relative;
  transition: all 0.2s ease-in-out;
  border: 1px solid #55DFB4;
}
.pricing .card--green .card__column--left {
  width: 40%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
.pricing .card--green .card__column--left .card__h3 {
  color: #13253B;
  font-size: 1.5rem;
  font-weight: 700;
}
.pricing .card--green .card__column--left .card__p {
  color: #EB476E;
  font-size: 4.6rem;
  font-weight: 300;
}
.pricing .card--green .card__column--left .card__span {
  color: #13253B;
  font-size: 1.2rem;
  font-weight: 700;
}
.pricing .card--green .card__column--right {
  display: inline-block;
  vertical-align: middle;
  width: auto;
}
.pricing .card--green .card__column--right .card__item {
  margin-bottom: 1rem;
}
.pricing .card--green .card__column--right .card__item .card__p {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 400;
  margin-left: 0.5em;
}
.pricing .card--green .card__column--right .card__checkbox--red {
  display: inline-block;
  width: 11px;
  position: relative;
}
.pricing .card--green .card__column--right .card__checkbox--red .card__border--red {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-35%, -85%);
}
.pricing .card--green .card__column--right .card__checkbox--red .card__check--red {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-25%, -110%);
}
.pricing .card--green .card__button {
  cursor: pointer;
  width: 308px;
  height: 57px;
  border: none;
  border-radius: 40px;
  color: #FFF;
  font-size: 1.6rem;
  font-weight: 700;
  position: absolute;
  width: 150px;
  left: 50%;
  bottom: -15%;
  transform: translateX(-50%);
}
.pricing .card--green .card__column--left .card__p {
  color: #55DFB4;
}
.pricing .card--green .card__button {
  width: 150px;
  background-color: #55DFB4;
}

@media only screen and (min-width: 1000px) {
  .pricing__flex {
    display: flex;
    justify-content: space-between;
    gap: 4em;
    max-width: 1400px;
    margin: 0 auto;
  }
  .pricing__flex .card, .pricing__flex .card--blue, .pricing__flex .card--green {
    width: 90%;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    justify-content: space-between;
  }
  .pricing__flex .card .card__button, .pricing__flex .card--blue .card__button, .pricing__flex .card--green .card__button {
    bottom: -10%;
  }
}
.slider {
  position: relative;
  display: flex;
  overflow: hidden;
  max-width: 300px;
  border-radius: 18px;
  border: 2px solid rgb(8, 166, 228);
  margin: 0 auto;
}
.slider__slide {
  width: 100%;
  transition: transform 0.5s ease;
}
.slider__controls {
  margin-top: 10px;
}
.slider__button {
  color: rgb(8, 166, 228);
  font-size: 2rem;
  cursor: pointer;
}
.slider #prevBtn {
  position: absolute;
  top: 50%;
  left: 0.2em;
  transform: translateY(-50%);
}
.slider #nextBtn {
  position: absolute;
  top: 50%;
  right: 0.2em;
  transform: translateY(-50%);
}
.slider__dots {
  position: absolute;
  display: flex;
  bottom: 0.7em;
  left: 50%;
  transform: translateX(-50%);
}
.slider__dots .active {
  background-color: rgb(8, 166, 228);
}
.slider__dot {
  height: 10px;
  width: 10px;
  background-color: #000;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}

@media only screen and (min-width: 1000px) {
  .slider {
    max-width: 1000px;
  }
}
.contact {
  background-color: #FFF;
  padding: 0 1em 4em 1em;
  max-width: 339px;
  margin: 0 auto;
}
.contact__h2 {
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 0.5em;
}
.contact__p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 2em;
}
.contact__flex {
  margin-bottom: 2em;
}
.contact__row {
  margin-bottom: 0.5em;
}
.contact__img {
  vertical-align: middle;
}
.contact__p--grey {
  display: inline-block;
  color: #A5A5A5;
  font-size: 1.6rem;
  font-weight: 400;
}
.contact__label {
  display: block;
  color: rgb(8, 166, 228);
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3.28px;
}
.contact__input {
  border: none;
  border-bottom: 1px solid #95989A;
  width: 100%;
  height: 3em;
  padding-top: 1.5em;
}
.contact__name-error, .contact__email-error {
  visibility: hidden;
  color: #EB476E;
  font-size: 1.2rem;
  height: 4em;
}
.contact__input:focus {
  outline: none;
  border-bottom: 2px solid rgb(8, 166, 228);
}
.contact .input-error {
  outline: none;
  border: none;
  border-bottom: 2px solid #EB476E;
}
.contact__column--left {
  display: inline-block;
  vertical-align: top;
  width: 10%;
}
.contact__column--right {
  display: inline-block;
  width: 85%;
  margin-bottom: 2em;
  text-align: justify;
}
.contact__button {
  display: block;
  margin-left: auto;
  cursor: pointer;
  width: 308px;
  height: 57px;
  border: none;
  border-radius: 40px;
  color: #FFF;
  font-size: 1.6rem;
  font-weight: 700;
  background-color: rgb(8, 166, 228);
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.2901960784);
}
.contact__p--darker {
  color: #707070;
  font-size: 1.2rem;
  font-weight: 400;
}
.contact__feedback {
  display: none;
  text-align: center;
}

@media only screen and (min-width: 1000px) {
  .contact {
    display: flex;
    max-width: 1000px;
    justify-content: center;
    gap: 3em;
  }
  .contact__h2 {
    font-size: 4.9rem;
  }
  .contact__column {
    width: 50%;
  }
  .contact__flex {
    display: flex;
    gap: 2em;
  }
  .contact__form {
    width: 50%;
  }
  .contact__feedback {
    max-width: 50%;
    align-self: center;
    height: 414px;
  }
}
.footer {
  box-shadow: 0px -5px 40px 0px rgba(0, 0, 0, 0.2);
  padding: 2em 1em;
  position: relative;
}
.footer__column-left {
  display: inline-block;
}
.footer__column-left {
  display: inline-block;
}
.footer__column-right {
  position: absolute;
  display: inline-block;
  right: 1em;
  top: 2.5em;
}
.footer__img {
  margin-left: 1em;
  cursor: pointer;
}
.footer__h3 {
  color: rgb(8, 166, 228);
  font-size: 2.6rem;
  font-weight: 300;
}
.footer__p {
  color: #A5A5A5;
  font-size: 1.1rem;
  font-weight: 400;
}

@media only screen and (min-width: 1000px) {
  .footer {
    padding: 2em 4em;
  }
  .footer__column-right {
    right: 4em;
  }
}
.b-contain *,
.b-contain *::before,
.b-contain *::after {
  box-sizing: content-box !important;
}

.b-contain input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.b-contain {
  display: table;
  position: relative;
  padding-left: 2rem;
  cursor: pointer;
  margin-bottom: 0.4rem;
}

.b-contain input[type=checkbox] ~ .b-input {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.25rem;
  width: 1.25rem;
  background: #fff;
  transition: background 250ms;
  border: 1px solid #95989A;
  border-radius: 0.2rem;
}

.b-contain input[type=checkbox] ~ .b-input::after {
  content: "";
  position: absolute;
  display: none;
  left: 7px;
  top: 3px;
  width: 0.3rem;
  height: 0.6rem;
  border: solid #08A6E4;
  border-width: 0 2px 2px 0;
  transition: background 250ms;
  transform: rotate(45deg);
}

.b-contain input:checked ~ .b-input::after {
  display: block;
}/*# sourceMappingURL=style.css.map */