@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&family=Raleway:wght@300;400;700;800&display=swap');

$--main-font: 'Raleway', sans-serif;
$--sec-font:'Open Sans', sans-serif;

$--blue-color:rgb(8, 166, 228);
$--red-color: #EB476E;
$--green-color:#55DFB4;


$--black-color: #000;
$--black-modal:#00000083;
$--darkBlue-color:#13253B;
$--darkerGrey-color:#707070;
$--darkGrey-color:#95989A;
$--grey-color:#A5A5A5;
$--greyBorder-color:#E8E9ED;

$--white-color: #FFF;
$--otherWhite-color:#F7F7F7;

$--topShadow-color:#0000004a;
$--bottomSHadow-color:#00000033;
$--blueShadow-color:#07ace64a;

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html{
   scroll-behavior: smooth;
   font-size: 10px;
}

body {
   min-width: 320px;
}

h1,h2,h3,span{
   font-family: $--main-font;
}

p,a,button,label,input{
   font-family: $--sec-font;
}

@mixin button{
   cursor: pointer;
   width: 308px;
   height: 57px;
   border: none;
   border-radius: 40px;
   color: $--white-color;
   font-size: 1.6rem;
   font-weight: 700;
}

@mixin card{
   display: block;
   padding: 2em 2em;
   border-radius: 5px;
   border: 1px solid $--greyBorder-color;
   background-color: $--white-color;
   max-width: 315px;
   margin: 2em auto;
   position: relative;

   &__h3{
      max-width: 225px;
      font-size: 3rem;
      font-weight: 400;
      margin-bottom: 1em;
   }

   &__p{
      font-size: 1.4rem;
      font-weight: 400;
   }
}

@mixin pricing_card{
   margin: 0 auto 5em auto;
   max-width: 290px;
   padding: 2em 1em 3em 1em;
   border-radius: 18px;
   position: relative;
   transition: all .2s ease-in-out;

   .card__column--left{
      width: 40%;
      display: inline-block;
      text-align: center;
      vertical-align: middle;

      .card__h3{
         color: $--darkBlue-color;
         font-size: 1.5rem;
         font-weight: 700;
      }

      .card__p{
         color: $--red-color;
         font-size: 4.6rem;
         font-weight: 300;
      }

      .card__span{
         color: $--darkBlue-color;
         font-size: 1.2rem;
         font-weight: 700;
      }
   }

   .card__column--right{
      display: inline-block;
      vertical-align: middle;
      width: auto;
      
      .card__item{
         margin-bottom: 1rem;

         .card__p{
            display: inline-block;
            font-size: 1.3rem;
            font-weight: 400;
            margin-left: .5em;
         }

      }

      .card__checkbox--red{
         display: inline-block;
         width: 11px;
         position: relative;
         
         .card__border--red{
            position: absolute;
            top: -50%;
            left: 50%;
            transform: translate(-35%,-85%)
         }

         .card__check--red{
            position: absolute;
            top: -50%;
            left: 50%;
            transform: translate(-25%,-110%)
         }
      }
   }

   .card__button{
      @include button;
      position: absolute;
      width: 150px;
      left: 50%;
      bottom: -15%;
      transform: translateX(-50%);
   }
}

.modal{
   margin: auto;
   padding: 2.5em;
   border-radius: 10px ;
   border: 1px solid $--blue-color;
   text-align: center;

   &__h2{
      font-size: 3rem;
      font-weight: 300;
   }

   &__button--close{
      cursor: pointer;
      position: absolute;
      font-size: 1.2rem;
      top: .7em;
      right: .7em;
      background-color: transparent;
      border: none;
      color: $--blue-color;
   }

   &__input{
      margin-top: 2em;
      border: none;
      border-bottom: 1px solid $--black-color;
      width: 100%;
      
      text-align: center;
      padding-bottom: 0;
   }

   &__input:focus{
      outline: none;
      border-bottom: 2px solid $--blue-color
   }

   &__input::placeholder{
      text-align: center;
   }

   &__p{
      visibility: hidden;
      margin-top: .5em;
      color: $--red-color;
      font-size: 1.2rem;
      height: 4em;
   }

   .correct{
      color: $--blue-color;
   }
   &__button{
      @include button;
      background-color: $--blue-color;
      width: 50%;
   }
}

.modal::backdrop{
   background-color: $--black-modal;
}

.nav {
   z-index: 10000;
   position: fixed;
   top: 0;
   width: 100%;
   padding: 1em ;
   background-color: $--white-color;
   box-shadow: 0px 3px 6px 0px $--topShadow-color;
   
   &__scrollBar{
      z-index: 10001;
      position: fixed;
      top: 0;
      left: 0;
      height: 5px;
      width: 0%;
      background-color: $--blue-color;
      box-shadow: 0px 3px 6px 0px $--topShadow-color;
   }

   &__h3{
      display: inline-block;
      color: $--blue-color;
      font-family: $--main-font;
      font-size: 3.2rem;
      font-weight: 300;
   }

   &__img{
      cursor: pointer;
      position: absolute;
      display: inline-block;
      right: 1em;
      top: 1.7em;
   }

   &__ul{
      display: none;
      list-style: none;
      margin-top: 1em;
   }

   &__li{
      display: block;
      color: $--grey-color;
      font-size: 1.1rem;
      font-weight: 700;
      letter-spacing: 3.28px;
      text-transform: uppercase;
      line-height: 30px;
   }

   a{
      text-decoration: none;

   }

   &__li:hover{
      cursor: pointer;
      color: $--black-color;
      font-weight: 700;
   }
}

@media only screen and (min-width: 1000px) {
   .nav{
      padding: 0 4em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__img{
         display: none;
      }

      &__ul{
         margin-top: 0;
         display: flex;
         gap: 2em;
      }

      &__li{
         display: inline-block;
         border: 2px solid transparent;
         padding: 1.5em 0;
         
      }
      &__li:hover{
         cursor: pointer;
         color: $--black-color;
         font-weight: 700;
         height: 100%;
         border-bottom: 2px solid $--blue-color;
      }
   }
}

.backToTop{
   z-index: 1000000;
   display: none;
   cursor: pointer;
   position: fixed;
   bottom: 4em;
   right: .5em;
   font-size: 3rem;
   color: $--blue-color;
   filter: drop-shadow(0px 1px 2px $--black-color) ;
}

.hero{
   margin: 10em 0 5em 0;
   text-align: center;

   &__h1{
      color: $--black-color;
      font-size: 3.5rem;
      font-weight: 400;
   }

   &__p{
      margin: 1em auto;
      max-width: 300px;
      color: $--black-color;
      font-size: 1.6rem;
      font-weight: 400;
   }

   &__button{
      @include button;
      background-color: $--blue-color;
      box-shadow: 5px 10px 14px 0px $--blueShadow-color;
   }

   &__img-container{
      width: 100%;
      min-height: 267px;
      overflow-x: hidden;
      position: relative;
   }

   &__img{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
   }

   &__h2{
      margin: 1em auto;
      font-size: 3.6rem;
      font-weight: 400;
      max-width: 383px;
   }

   .icon{
      margin-top: 1em;
      position: relative;

      &__img{
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-10%,-50%);
      }
   }

   &__span{
      margin-top: .5em;
      display: block;
      color: #000;
      font-size: 2rem;
      font-weight: 800;
   }

   &__span--light{
      max-width: 120px;
      display: block;
      margin: .5rem auto;
      color: $--grey-color;
      font-family: Raleway;
      font-size: 1.7rem;
      font-weight: 400;
   }
}

@media only screen and (min-width: 1000px) {
   .hero{
      &__img{
         width: 100%;
         max-width: 1735px;
         position: static;
         left: auto;
         transform: none;
      }

      &__h2{
         max-width: 100%;
      }

      &__flex{
         display: flex; 
         justify-content: center;
         gap: 15em;
      }
   }
}


.benefits{
   background-color: $--otherWhite-color;
   padding:4em 1em;

   .card{
      @include card;
      margin: 2em auto;
      
      &__icon, &__icon--alt{
         margin-bottom: 2em;
         position: relative;
         
         .card__img--bg{
            position: absolute;
            width: 127px;
            top: -25%;
            left: 50%;
            z-index: 0;
         }
         
         .card__img{
            position: relative;
            display: block;
            margin: 0 auto;
            max-width: 192px;
            z-index: 1;
         }         

         .card__img--bgAlt{
            display: block;
            margin: 0 auto;
            width: 131px; 
         }

         .card__imgAlt{
            position: absolute;
            width: 175px;
            top: 10%;
            left: 30%;
         }
      }
   }

   .card--Alt{
      @include card;
      margin: 2em auto 0 auto;
   }

   .card__flex{
      .card__icon{
         margin: 0 auto;
         max-width: 315px;
         position: relative;
         
         .card__img--bgFull{
            position: relative;
            z-index: 2;
            width: 100%;
            max-height: 195px;
            z-index: 0;
            border-radius: 5px;
            border: 1px solid $--greyBorder-color;
            background: $--green-color;
         }
   
         .card__imgFull{
            position: absolute;
            top: 65%;
            left: 50%;
            transform: translate(-50%,-50%);
            z-index: 1;
         }
      }  

   }
}

@media only screen and (min-width: 1000px) {

   .benefits{

      .card{
         display: flex;
         justify-content: space-between;
         align-items: center;
         width: 90%;
         padding-top: 3em;
         min-height:370px;
         max-width: 1124px;

         &__icon{
            order: 2;
            width: 100%;
            max-width: 60%;

            .card__img--bg{
               width: 225px;
            }

            .card__img{
               max-width: 386px;
            }         
   

         }

         &__text{
            width: 40%;
            order: 1;

            .text__line{
               width: 70%;
               margin-top: 2em;
               border: 2px solid $--red-color;
            }
         }

         &__icon--alt{
            width: 100%;
            width: 50%;

            .card__img--bgAlt{
               border-radius: 320px;
               background-color: $--blue-color;
               width: 328px; 
            }
   
            .card__imgAlt{
               position: absolute;
               width: 400px;
               top: 10%;
               left: 10%;
               transform: translateX(10%);
            }
         }

         &__text--alt{
            width: 40%;
            align-self: center;
            order: 1;

            .text__line{
               width: 70%;
               margin-top: 2em;
               border: 2px solid $--blue-color;
            }
         }

      }

      .card__flex{
         display: flex;
         justify-content: space-between;
         width: 90%;
         gap: 3em;
         max-width: 1124px;
         margin: 2em auto;
   
         .card--Alt{
            display: inline-block;
            margin:0;
            
            padding-top: 3em;
            min-height:370px;
            max-width: 1124px;
            
            .text__line{
               width: 70%;
               margin-top: 2em;
               border: 2px solid $--green-color;
            }
         }

         .card__icon{
            min-width: 440px;
            margin: 0;

            .card__img--bgFull{
               min-height: 100%;
            }
      
            .card__imgFull{
               position: absolute;
               top: 50%;
               left: 50%;
               transform: translate(-50%,-50%);
               z-index: 1;
            }
         }  
      }
   }
}

.pricing{
   background-color: $--white-color;
   padding:4em 1em;

   &__select{
      display: block;
      margin-left: auto;
   }
   &__h2{
      text-align: center;
      font-size: 3.6rem;
      font-weight: 400;
      margin-bottom: 1em;
   }

   .card{
      @include pricing_card;
      border: 1px solid $--red-color;
   
      .card__button{
        background-color: $--red-color;
        width: 150px;
      }
   }

   .card--blue{
      @include pricing_card;
      border: 1px solid $--blue-color;
   
      .card__column--left{
         .card__p{
            color: $--blue-color;
         }
      }

      .card__button{
         width: 150px;
         background-color: $--blue-color;
       }
   }

   .card:hover,.card--blue:hover, .card--green:hover {
      transform: translate3D(0,-1px,0) scale(1.10);
   }

   .card:hover{
      box-shadow: 5px 10px 27px 0px $--red-color;
   }
   .card--blue:hover{
      box-shadow: 5px 10px 27px 0px $--blue-color;
   }

   .card--green:hover{
      box-shadow: 5px 10px 27px 0px $--green-color;
   }

   .card--green{
      @include pricing_card;
      
      border: 1px solid $--green-color;
      
   
      .card__column--left{
         .card__p{
            color: $--green-color;
         }
      }

      .card__button{
         width: 150px;
         background-color: $--green-color;
       }
   }
}

@media only screen and (min-width: 1000px) {

   .pricing__flex{
      display: flex;
      justify-content: space-between;
      gap: 4em;
      max-width: 1400px;
      margin: 0 auto;

      .card, .card--blue,.card--green{
         width: 90%;
         max-width: 90%;
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: 1em;
         justify-content: space-between;
       
         .card__button{
            bottom: -10%;
         }
      }
   }
}

.slider {
   position: relative;
   display: flex;
   overflow: hidden;
   max-width: 300px;
   border-radius: 18px;
   border: 2px solid $--blue-color;
   margin: 0 auto;

   &__slide {
      width: 100%;
      transition: transform 0.5s ease;
   }
   
   &__controls {
      margin-top: 10px;
   }
   
   &__button {
      color: $--blue-color;
      font-size: 2rem;
      cursor: pointer;
   }

   #prevBtn{
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: .2em;
      transform: translateY(-50%);
   }

   #nextBtn{
      cursor: pointer;
      position: absolute;
      top: 50%;
      right: .2em;
      transform: translateY(-50%);
   }
   
   &__dots {
      position: absolute;
      display: flex;
      bottom: .7em;
      left: 50%;
      transform: translateX(-50%);

      .active {
         background-color: $--blue-color;
      }
   }
   
   &__dot {
      height: 10px;
      width: 10px;
      background-color:$--black-color;
      border-radius: 50%;
      display: inline-block;
      margin: 0 5px;
      cursor: pointer;
   }
   
   
}
@media only screen and (min-width: 1000px) {
   .slider {
      max-width: 1000px;
   }
}




.contact{
   background-color: $--white-color;
   padding:0 1em 4em 1em;
   max-width: 339px;
   margin: 0 auto;

   &__h2{
      font-size: 4rem;
      font-weight: 400;
      margin-bottom: .5em;
   }

   &__p{
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 2em;
   }

   &__flex{
      margin-bottom: 2em;
   }

   &__row{
      margin-bottom: .5em;
   }

   &__img{
      vertical-align: middle;
   }

   &__p--grey{
      display: inline-block;
      color: $--grey-color;
      font-size: 1.6rem;
      font-weight: 400;         
   }

   &__label{
      display: block;
      color: $--blue-color;
      font-size: 1.1rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 3.28px;
   }

   &__input{
      
      border: none;
      border-bottom: 1px solid $--darkGrey-color;
      width: 100%;
      height: 3em;
      padding-top: 1.5em;
      
   }

   &__name-error, &__email-error{
      visibility: hidden;
      color: $--red-color;
      font-size: 1.2rem;
      height: 4em;
   }


   &__input:focus{
      outline: none;
      border-bottom: 2px solid $--blue-color
   }
   .input-error{
      outline: none;
      border: none;
      border-bottom: 2px solid $--red-color;
   }

   &__column--left{
      display: inline-block;
      vertical-align: top;
      width: 10%;
   }

   &__column--right{
      display: inline-block;
      width: 85%;
      margin-bottom: 2em;
      text-align: justify
   }

   &__button{
      display: block;
      margin-left: auto;
      @include button;
      background-color: $--blue-color;
      box-shadow: 5px 10px 14px 0px $--blueShadow-color;

   }

   &__p--darker{
      color: $--darkerGrey-color;
      font-size: 1.2rem;
      font-weight: 400;
   }

   &__feedback{
      display: none;
      text-align: center;
   }
}



@media only screen and (min-width: 1000px) {
   .contact{
      display: flex;
      max-width: 1000px;
      justify-content: center;
      gap:3em; 
      
      &__h2{
         font-size: 4.9rem;
      }
      &__column{
         width: 50%;
      }

      &__flex{
         display: flex;
         gap: 2em;
      }
      &__form{
         width: 50%;
      }

      &__feedback{
         max-width: 50%;
         align-self: center;
         height: 414px;
      }
   }

}

.footer{
   box-shadow: 0px -5px 40px 0px $--bottomSHadow-color;
   padding: 2em 1em;
   position: relative;

   &__column-left{
      display: inline-block;
   }
   &__column-left{
      display: inline-block;
   }
   
   &__column-right{
      position: absolute;
      display: inline-block;
      right: 1em;
      top: 2.5em;
   }

   &__img{
      margin-left: 1em;
      cursor: pointer;
   }

   &__h3{
      color: $--blue-color;
      font-size: 2.6rem;
      font-weight: 300;
   }

   &__p{
      color: $--grey-color;
      font-size: 1.1rem;
      font-weight: 400;
   }
}

@media only screen and (min-width: 1000px) {

   .footer{
      padding: 2em 4em;
   
      &__column-right{
         right: 4em;
      }

   }
}

.b-contain *,
.b-contain *::before,
.b-contain *::after {
  box-sizing: content-box !important;
}

.b-contain input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.b-contain {
  display: table;
  position: relative;
  padding-left: 2rem;
  cursor: pointer;
  margin-bottom: 0.4rem;
}

.b-contain input[type="checkbox"] ~ .b-input {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.25rem;
  width: 1.25rem;
  background: #fff;
  transition: background 250ms;
  border: 1px solid #95989A;
  border-radius: 0.2rem;
}

.b-contain input[type="checkbox"] ~ .b-input::after {
  content: "";
  position: absolute;
  display: none;
  left: 3px;
  width: 0.4rem;
  height: 0.9rem;
  border: solid #08A6E4;
  border-width: 0 2px 2px 0;
  transition: background 250ms;
  transform: rotate(45deg);
}

.b-contain input:checked ~ .b-input::after {
  display: block;
}



