@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&family=Raleway:wght@300;400;700;800&display=swap');

/*----------------VARIABLES------------*/

/*-------FONTS---------*/

$--main-font: 'Raleway', sans-serif;
$--sec-font:'Open Sans', sans-serif;

/*-------COLORS-------*/

$--blue-color:#08A6E4;
$--red-color: #EB476E;
$--green-color:#55DFB4;

$--black-color: #000;
$--darkBlue-color:#13253B;
$--darkerGrey-color:#707070;
$--darkGrey-color:#95989A;
$--grey-color:#A5A5A5;
$--greyBorder-color:#E8E9ED;

$--white-color: #FFF;
$--otherWhite-color:#F7F7F7;

$--topShadow-color:#0000004a;
$--bottomSHadow-color:#00000033;
$--blueShadow-color:#07ace64a;

/*----------------GLOBAL STYLES---------*/

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   min-width: 320px;
}

h1,h2,h3,span{
   font-family: $--main-font;
}

p,li,button,label,input{
   font-family: $--sec-font;
}
/*--------------MIXINS-------------------*/

@mixin button{
   width: 308px;
   height: 57px;
   border: none;
   border-radius: 40px;
   color: $--white-color;
   font-size: 16px;
   font-weight: 700;
}

@mixin card{
   display: block;
   padding: 2em 2em;
   border-radius: 5px;
   border: 1px solid $--greyBorder-color;
   background-color: $--white-color;
   max-width: 315px;margin: 2em auto;
   position: relative;

   &__h3{
      max-width: 225px;
      font-size: 30px;
      font-weight: 400;
      margin-bottom: 1em;
   }

   &__p{
      font-size: 14px;
      font-weight: 400;
   }
}

@mixin pricing_card{
   margin: 0 auto 5em auto;
   max-width: 290px;
   padding: 2em 1em 3em 1em;
   border-radius: 18px;
   position: relative;
   transition: all .2s ease-in-out;

   .card__column--left{
      width: 40%;
      display: inline-block;
      text-align: center;
      vertical-align: middle;

      .card__h3{
         color: $--darkBlue-color;
         font-size: 15px;
         font-weight: 700;
      }

      .card__p{
         color: $--red-color;
         font-size: 46px;
         font-weight: 300;
      }

      .card__span{
         color: $--darkBlue-color;
         font-size: 12px;
         font-weight: 700;
      }
   }

   .card__column--right{
      display: inline-block;
      vertical-align: middle;
      width: auto;
      
      .card__item{
         margin-bottom: 1rem;

         .card__p{
            display: inline-block;
            font-size: 13px;
            font-weight: 400;
            margin-left: .5em;
         }

      }

      .card__checkbox--red{
         display: inline-block;
         width: 11px;
         position: relative;
         
         .card__border--red{
            position: absolute;
            top: -50%;
            left: 50%;
            transform: translate(-35%,-85%)
         }

         .card__check--red{
            position: absolute;
            top: -50%;
            left: 50%;
            transform: translate(-25%,-110%)
         }
      }

   }

   .card__button{
      @include button;
      position: absolute;
      width: 150px;
      left: 50%;
      bottom: -22%;
      transform: translate(-50%,-50%);
   }
}


/*--------------NAV STYLES--------------*/

.nav {
   z-index: 10000;
   position: fixed;
   top: 0;
   width: 100%;
   padding: 1em;
   background-color: $--white-color;
   box-shadow: 0px 3px 6px 0px $--topShadow-color;
   

   &__h3{
      display: inline-block;
      color: $--blue-color;
      font-family: $--main-font;
      font-size: 32px;
      font-weight: 300;
   }

   &__img{
      position: absolute;
      display: inline-block;
      right: 1em;
      top: 1.7em;
   }

   &__ul{
      display: none;
      list-style: none;
      margin-top: 1em;
   }

   &__li{
      color: $--grey-color;
      font-size: 11px;
      font-weight: 700;
      letter-spacing: 3.28px;
      text-transform: uppercase;
      line-height: 30px;
   }
}

@media only screen and (min-width: 1000px) {
   .nav{
      padding: 1em 4em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__img{
         display: none;
      }

      &__ul{
         margin-top: 0;
         display: flex;
         gap: 2em;
      }

      &__li{
         border: 4px solid transparent;
         
      }
      &__li:hover{
         cursor: pointer;
         color: $--black-color;
         font-weight: 700;
         height: 100%;
         border-bottom: 4px solid $--blue-color;
      }
   }
}


/*-------------HERO STYLES---------*/

.hero{
   margin: 10em 0 5em 0;
   text-align: center;

   &__h1{
      color: $--black-color;
      font-size: 35px;
      font-weight: 400;
   }

   &__p{
      margin: 1em auto;
      max-width: 300px;
      color: $--black-color;
      font-size: 16px;
      font-weight: 400;
   }

   &__button{
      @include button;
      background-color: $--blue-color;
      box-shadow: 5px 10px 14px 0px $--blueShadow-color;
   }

   &__img-container{
      width: 100%;
      min-height: 267px;
      overflow-x: hidden;
      position: relative;
   }

   &__img{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
   }

   &__h2{
      margin: 1em auto;
      font-size: 36px;
      font-weight: 400;
      max-width: 383px;
   }

   .icon{
      margin-top: 1em;
      position: relative;

      &__img{
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-10%,-50%);
      }
   }

   &__span{
      margin-top: .5em;
      display: block;
      color: #000;
      font-size: 20px;
      font-weight: 800;
   }

   &__span--light{
      max-width: 120px;
      display: block;
      margin: .5rem auto;
      color: $--grey-color;
      font-family: Raleway;
      font-size: 17px;
      font-weight: 400;
   }
}

@media only screen and (min-width: 1000px) {
   .hero{
      &__img{
         width: 100%;
         max-width: 1735px;
         position: static;
         left: auto;
         transform: none;
      }

      &__h2{
         max-width: 100%;
      }

      &__flex{
         display: flex; 
         justify-content: center;
         gap: 15em;
      }

   }
}

/*-----------BENEFITS STYLES--------*/

.benefits{
   background-color: $--otherWhite-color;
   padding:4em 1em;

   .card{
      @include card;
      margin: 2em auto;
      
      &__icon, &__icon--alt{
         margin-bottom: 2em;
         position: relative;
         
         .card__img--bg{
            position: absolute;
            width: 127px;
            top: -25%;
            left: 50%;
            z-index: 0;
         }
         
         .card__img{
            position: relative;
            display: block;
            margin: 0 auto;
            max-width: 192px;
            z-index: 1;
         }         

         .card__img--bgAlt{
            display: block;
            margin: 0 auto;
            width: 131px; 
         }

         .card__imgAlt{
            position: absolute;
            width: 175px;
            top: 10%;
            left: 30%;
         }
      }
   }

   .card--Alt{
      @include card;
      margin: 2em auto 0 auto;
   }

   .card__flex{
      .card__icon{
         margin: 0 auto;
         max-width: 315px;
         position: relative;
         
         .card__img--bgFull{
            position: relative;
            z-index: 2;
            width: 100%;
            max-height: 195px;
            z-index: 0;
            border-radius: 5px;
            border: 1px solid $--greyBorder-color;
            background: $--green-color;
         }
   
         .card__imgFull{
            position: absolute;
            top: 65%;
            left: 50%;
            transform: translate(-50%,-50%);
            z-index: 1;
         }
      }  

   }
}

@media only screen and (min-width: 1000px) {

   .benefits{

      .card{
         display: flex;
         justify-content: space-between;
         align-items: center;
         width: 90%;
         padding-top: 3em;
         min-height:370px;
         max-width: 1124px;

         &__icon{
            order: 2;
            width: 100%;
            max-width: 60%;

            .card__img--bg{
               width: 225px;
            }

            .card__img{
               max-width: 386px;
            }         
   

         }

         &__text{
            width: 40%;
            order: 1;

            .text__line{
               width: 70%;
               margin-top: 2em;
               border: 2px solid $--red-color;
            }
         }

         &__icon--alt{
            width: 100%;
            width: 50%;

            .card__img--bgAlt{
               border-radius: 320px;
               background-color: $--blue-color;
               width: 328px; 
            }
   
            .card__imgAlt{
               position: absolute;
               width: 400px;
               top: 10%;
               left: 10%;
               transform: translateX(10%);
            }
         }

         &__text--alt{
            width: 40%;
            align-self: center;
            order: 1;

            .text__line{
               width: 70%;
               margin-top: 2em;
               border: 2px solid $--blue-color;
            }
         }

      }

      .card__flex{
         display: flex;
         justify-content: space-between;
         width: 90%;
         gap: 3em;
         max-width: 1124px;
         margin: 2em auto;
   
         .card--Alt{
            display: inline-block;
            margin:0;
            
            padding-top: 3em;
            min-height:370px;
            max-width: 1124px;
            
            .text__line{
               width: 70%;
               margin-top: 2em;
               border: 2px solid $--green-color;
            }
         }

         .card__icon{
            min-width: 440px;
            margin: 0;

            .card__img--bgFull{
               min-height: 100%;
            }
      
            .card__imgFull{
               position: absolute;
               top: 50%;
               left: 50%;
               transform: translate(-50%,-50%);
               z-index: 1;
            }
         }  
      }
   }
}

/*-----------PRICING STYLES--------*/

.pricing{
   background-color: $--white-color;
   padding:4em 1em;

   &__h2{
      text-align: center;
      font-size: 36px;
      font-weight: 400;
      margin-bottom: 1em;
   }

   .card{
      @include pricing_card;
      border: 1px solid $--red-color;
   
      .card__button{
        background-color: $--red-color;
        width: 150px;
      }
   }

   .card--blue{
      @include pricing_card;
      border: 1px solid $--blue-color;
   
      .card__column--left{
         .card__p{
            color: $--blue-color;
         }
      }

      .card__button{
         width: 150px;
         background-color: $--blue-color;
       }
   }

   .card:hover,.card--blue:hover, .card--green:hover {
      transform: translate3D(0,-1px,0) scale(1.10);
   }

   .card:hover{
      box-shadow: 5px 10px 27px 0px $--red-color;
   }
   .card--blue:hover{
      box-shadow: 5px 10px 27px 0px $--blue-color;
   }

   .card--green:hover{
      box-shadow: 5px 10px 27px 0px $--green-color;
   }

   .card--green{
      @include pricing_card;
      
      border: 1px solid $--green-color;
      
   
      .card__column--left{
         .card__p{
            color: $--green-color;
         }
      }

      .card__button{
         width: 150px;
         background-color: $--green-color;
       }
   }
}

@media only screen and (min-width: 1000px) {

   .pricing__flex{
      display: flex;
      justify-content: space-between;
      gap: 4em;
      max-width: 1400px;
      margin: 0 auto;

      .card, .card--blue,.card--green{
         width: 90%;
         max-width: 90%;
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: 1em;
         justify-content: space-between;
       
         .card__button{
            bottom: -16%;
         }
      }
   }
}
/*-----------CONTACT STYLES--------*/

.contact{
   background-color: $--white-color;
   padding:4em 1em;
   max-width: 339px;
   margin: 0 auto;

   &__h2{
      font-size: 40px;
      font-weight: 400;
      margin-bottom: .5em;
   }

   &__p{
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 2em;
   }

   &__flex{
      margin-bottom: 2em;
   }

   &__row{
      margin-bottom: .5em;
   }

   &__img{
      vertical-align: middle;
   }

   &__p--grey{
      display: inline-block;
      color: $--grey-color;
      font-size: 16px;
      font-weight: 600;         
   }

   &__label{
      display: block;
      color: $--blue-color;
      font-size: 11px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 3.28px;
   }

   &__input{
      border: none;
      border-bottom: 1px solid $--darkGrey-color;
      width: 100%;
      height: 3em;
      padding-top: 1.5em;
      margin-bottom: 3em;
   }

   &__column--left{
      display: inline-block;
      vertical-align: top;
      width: 10%;
   }

   &__column--right{
      display: inline-block;
      width: 85%;
      margin-bottom: 2em;
      text-align: justify
   }

   &__button{
      display: block;
      margin-left: auto;
      @include button;
      background-color: $--blue-color;
      box-shadow: 5px 10px 14px 0px $--blueShadow-color;

   }

   &__p--darker{
      color: $--darkerGrey-color;
      font-size: 12px;
      font-weight: 400;
   }
}

@media only screen and (min-width: 1000px) {
   .contact{
      display: flex;
      max-width: 1000px;
      justify-content: center;
      gap:3em; 
      
      &__h2{
         font-size: 49px;
      }
      &__column{
         width: 50%;
      }

      &__flex{
         display: flex;
         gap: 2em;
      }
      &__form{
         width: 50%;
      }
   }

}

.footer{
   box-shadow: 0px -5px 40px 0px $--bottomSHadow-color;
   padding: 2em 1em;
   position: relative;

   &__column-left{
      display: inline-block;
   }
   &__column-left{
      display: inline-block;
   }
   
   &__column-right{
      position: absolute;
      display: inline-block;
      right: 1em;
      top: 2.5em;
   }

   &__img{
      margin-left: 1em;
   }

   &__h3{
      color: $--blue-color;
      font-size: 26px;
      font-weight: 300;
   }

   &__p{
      color: $--grey-color;
      font-size: 11px;
      font-weight: 400;
   }
}

@media only screen and (min-width: 1000px) {

   .footer{
      padding: 2em 4em;
   
      &__column-right{
         right: 4em;
      }

   }
}

/*---------------CHECKBOX----------*/

.b-contain *,
.b-contain *::before,
.b-contain *::after {
  box-sizing: content-box !important;
}

.b-contain input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.b-contain {
  display: table;
  position: relative;
  padding-left: 2rem;
  cursor: pointer;
  margin-bottom: 0.4rem;
}

.b-contain input[type="checkbox"] ~ .b-input {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.25rem;
  width: 1.25rem;
  background: #fff;
  transition: background 250ms;
  border: 1px solid #95989A;
  border-radius: 0.2rem;
}

.b-contain input[type="checkbox"] ~ .b-input::after {
  content: "";
  position: absolute;
  display: none;
  left: 7px;
  top: 3px;
  width: 0.3rem;
  height: 0.6rem;
  border: solid #08A6E4;
  border-width: 0 2px 2px 0;
  transition: background 250ms;
  transform: rotate(45deg);
}

.b-contain input[type="checkbox"]:disabled ~ .b-input::after {
  border-color: #ffffff;
}

.b-contain input:checked ~ .b-input::after {
  display: block;
}

.b-contain:hover input[type="checkbox"]:not([disabled]) ~ .b-input,
.b-contain input[type="checkbox"]:focus ~ .b-input {
  background: #fff;
  border-color: #95989A;
}

.b-contain input:focus ~ .b-input {
  box-shadow: 0 0 0 2px #60a5fa;
}

.b-contain input[type="checkbox"]:checked ~ .b-input {
  background: #fff;
  border-color: #95989A;
}


.b-contain input[type="checkbox"]:disabled ~ .b-input{
  opacity: 0.5;
  cursor: not-allowed;
}


.b-contain:hover input[type="checkbox"]:not([disabled]):checked ~ .b-input,
.b-contain input[type="checkbox"]:checked:focus ~ .b-input {
  background: #fff;
  border-color: #95989A;
}

