@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&family=Raleway:wght@300;400;700;800&display=swap');

/*---------------------VARIABLES------------*/

$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Raleway', sans-serif;

/*---------------------GLOBAL STYLES---------*/

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
body {
   min-width: 320px;
   background: #F7F7F7;
}

.hidden{
   display: none;
}

h1,
h2,
h3,
span{
font-family: $font-secondary;
}

p,
button{
   font-family: $font-primary;
}


/*------------------------HEADER STYLES----------------*/

.header{
   position: relative;
   padding: 1.5em 3em;
   box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.29);
   
   &__logo{
      display: inline-block;
      color: #08A6E4;
      font-size: 32px;
      font-weight: 300;
   }
   
   &__hamburger{
      display: inline-block;
      position: absolute;
      top: 2.5em;
      right: 3em;
      transform: translate(0, -50%);
   }
}


/*--------------------MENU STYLES---------------*/

.menu__mobile{
   margin-top: 1em;
   list-style-type: none;
}

.menu__menu-item{
   color: #A5A5A5;
   font-family: Open Sans;
   font-size: 11px;
   font-weight: 700;
   letter-spacing: 3.28px;
   text-transform: uppercase;
   margin-bottom: 1em;
}

/*----------------------HERO STYLES---------------*/

.hero{
   background: #FFF;
   padding: 3em 0 1em 0;
   text-align: center;
   
   &__heading{
      margin: 0 auto 2rem auto;
      font-size: 35px;
      font-weight: 400;
   }
   
   &__text{
      margin: 0 auto 2rem auto;
      max-width: 300px;
      font-family: Open Sans;
      font-size: 16px;
      font-weight: 400;
   }

   &__button{
      margin: 0 auto 2rem auto;
      color: #FFF;
      font-size: 16px;
      font-weight: 700;
      display: block ;
      min-width: 307px;
      max-width: 440px;
      height: 67px;
      border: none;
      border-radius: 40px;
      background: #08A6E4;
      box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.29);
   }

   &__img-container{
      overflow-x: hidden;
      min-height: 267px;
      position: relative;
   }
   &__img{
      width: auto;
      height: 100%; 
      position: absolute;
      left: 50%; 
      transform: translateX(-50%); 
   }

   &__subheading{
      margin: 0 auto 2rem auto;
      font-size: 36px;
      font-weight: 400;
      max-width: 300px;
   }

}

.icon{
   margin: 2rem auto;
   position: relative;
   height: 62px;

   &__bg{
      position: absolute;
      left: 50%; 
      transform: translateX(-50%); 
   }

   &__img{
      position: absolute;
      top: 50%; 
      transform: translateY(-50%);   
   }

   &__numbers{
      display: block;
      font-size: 20px;
      font-weight: 800;
   }


   &__text{
      color: #A5A5A5;
      display: block;
      font-size: 17px;
      font-weight: 400;
   }
}

/*----------------BENEFITS STYLES--------------*/

.benefits{
   padding: 0 2em;
}

.benefits__article{
   position: relative;
   padding: 1em;
   background: #FFF;
   border-radius: 5px;
   border: 1px solid #E8E9ED;
   margin: 2em auto 0 auto;
}

.article__icon{
   margin: 2rem auto;
   position: relative;
   height: 134px;

   .icon__bg{
      position: absolute;
      height: 100%;
      left: 50%;
      top: -30%;
      transform: translateX(0%); 
   }

   .icon__img{
      position: absolute;
      height: 100%;
      left: 50%; 
      top: 0;
      transform: translateX(-50%); 
   }

   .icon__bg--alt{
      position: absolute;
      height: 100%;
      left: 50%; 
      top: 0;
      transform: translateX(-50%); 
   }

   .icon__img--alt{
      position: absolute;
      height: 100%;
      left: 50%; 
      top: 10%;
      transform: translateX(-40%); 
   }
}

.article__icon--full{
   margin-top: -10px;
   position: relative;
   
   
   .icon__bg--full{
      border-radius: 5px;
      border: 1px solid #E8E9ED;
      height: 195px;
      width: 100%;
   }

   .icon__img--full{
      position: absolute;
      left: 50%;
      transform: translate(-50%, 10%);
      
   }
}

.article__heading{
   font-size: 30px;
   font-weight: 400;
}

.article__text{
   margin: 1rem 0;
   font-size: 14px;
   font-weight: 400;
}

/*-----------------PRICING STYLES-------------*/

.pricing{
   padding: 1em;
   text-align: center;

   &__heading{
      font-size: 36px;
      font-weight: 400;
   }
   
   &__card{
      margin: 4em auto;
      border-radius: 18px;
      border: 1px solid #FB3B64;
      min-height: 277px;
      max-width: 350px;
      position: relative;
      padding: 2em;
   }

   &__card--blue{
      margin-top: 4em;
      border-radius: 18px;
      border: 1px solid #07ACE6;
      min-height: 277px;
      position: relative;
      padding: 2em;
      box-shadow: 5px 10px 27px 0px rgba(7, 172, 230, 0.29);
   }

   &__card--green{
      margin: 4em auto;
      border-radius: 18px;
      border: 1px solid #55DFB4;
      min-height: 277px;
      max-width: 350px;
      position: relative;
      padding: 2em;
   }

   .card__column-left{
      display: inline-block;
      vertical-align: middle;
      margin-right: 1em;

      .card__name{
         color: #13253B;
         font-size: 20px;
         font-weight: 700;
      }

      .card__price{
         color: #FB3B64;
         font-size: 46px;
         font-weight: 300;
      }

      .card__price--blue{
         color: #07ACE6;
         font-size: 46px;
         font-weight: 300;
      }

      .card__price--green{
         color: #55DFB4;
         font-size: 46px;
         font-weight: 300;
      }



      .card__offer{
         color: #13253B;
         font-size: 12px;
         font-weight: 700;
      }

   }

   .card__column-right{
      display: inline-block;
      vertical-align: middle;
      text-align: left;
      .checkbox--green{
         display: inline-block;
      }

      .checkbox--red{
         display: inline-block;
         width: 11px;
         position: relative;
      }

      .checkbox__border--red{
         position: absolute;
         top: 0%;
         left: 50%;
         transform: translate(-50%, -100%);
      }

      .checkbox__x--red{
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -150%);
      }
      .checkbox__text{
         display: inline-block;
         margin: .5rem 1rem;
      }
   }

   .card__button--red{
      position: absolute;
      display: block;
      bottom: -10%;
      left: 50%;
      width: 150px;
      height: 50px;
      transform: translateX(-50%);
      color: #FFF;
      font-size: 13px;
      font-size: 13px;
      border: none;
      border-radius: 23px;
      background: #EB476E; 
   }

   .card__button--blue{
      position: absolute;
      display: block;
      bottom: -10%;
      left: 50%;
      width: 150px;
      height: 50px;
      transform: translateX(-50%);
      color: #FFF;
      font-size: 13px;
      font-size: 13px;
      border: none;
      border-radius: 23px;
      background: #07ACE6; 
   }

   .card__button--green{
      position: absolute;
      display: block;
      bottom: -10%;
      left: 50%;
      width: 150px;
      height: 50px;
      transform: translateX(-50%);
      color: #FFF;
      font-size: 13px;
      font-size: 13px;
      border: none;
      border-radius: 23px;
      background: #55DFB4; 
   }
}